= render "shared/header"
-if user_signed_in?
  .main-content
    .main-content__bottom-content
      =link_to new_project_path, class:"new-project-btn" do
        .new-project-form
          = icon('fas', 'plus-circle')
          新規プロジェクトを作成する
      .container
        .menu
          .menu-item
            進行中(
            = @projects.where(finish: false).length
            )
          .menu-item
            完了済(
            = @projects.where(finish: true).length
            )
        .contents
          - @projects.each do |project|
            = link_to "projects/#{project.id}", class: "projects-link" do
              .content
                = icon('fas', 'arrow-alt-circle-right')
                = project.name
-else
  登録者募集中！

