= render "shared/header"
-if user_signed_in?
  .main-content
    .main-content__bottom-content
      =link_to new_project_path, class:"new-project-btn" do
        .new-project-form
          = icon('fas', 'plus-circle')
          新規プロジェクトを作成する
      .container
        .menu
          .menu-item.project-active
            進行中(
            = @projects.where(finish: false).length
            )
          .menu-item
            完了済(
            = @projects.where(finish: true).length
            )
        .contents.show
          - @projects.where(finish:false).each do |project|
            = link_to "projects/#{project.id}", class: "projects-link" do
              .content
                = icon('fas', 'arrow-alt-circle-right')
                = project.name
        .contents
          - @projects.where(finish:true).each do |project|
            = link_to "projects/#{project.id}", class: "projects-link" do
              .content-finish
                = icon('fas', 'arrow-alt-circle-right')
                = project.name
-else
  .main-image
    .top-left
      .top-left__image-title
        PlanDo
      .top-left__image-text
        タスク管理をもっとシンプルに。

    .top-right
      =link_to new_user_registration_path do
        .top-right__signup
          新規登録
      =link_to new_user_session_path do
        .top-right__login
          ログイン


-# １、プロジェクトごとにタスクを管理

-# ２、カード形式でタスクを管理

-# ３、直感操作でスムーズなタスク管理