= render "shared/header"

.task-content
  .task-top
    .task-top__project-name
      = @project.name
    .task-top__p-progress
      達成率50%(5/10)
    .task-top__p-date
      -require 'date'
      -today = Date.today
      -future = @project.finish_date
      -remainingDay = future - today
      -if remainingDay <= 7
        完了予定日まであと
        %span.warning
          = remainingDay.to_i
        日（
        = @project.finish_date
        ）
      - else
        完了予定日まであと
        %span.normal
          = remainingDay.to_i
        日（
        = @project.finish_date
        ）

  .task-bottom
    - if @tasklists.present?
      - @tasklists.each do |tasklist|
        .task-bottom__task-list
          .task-bottom__task-list--task-title
            = tasklist.name
          .task-bottom__task-list--tasks
            %ul.sortable.sortable-parent
              - if tasklist.tasks.present?
                - tasklist.tasks.rank(:row_order).each do |task|
                  -# = content_tag "li", id: task.id, class: "sortable-child", data: { model_id: task.id, update_url: project_sort_path(task)} do
                  %li.sortable-child{ "data-model_id": "#{task.id}", "data-text": "#{task.text}","data-update_url": "#{project_sort_path(task.id)}"}
                    .task-bottom__task-list--tasks--task
                      = task.text
          .new-task
            新しくカードを作る
